<h1>About me</h1>

<p>My name is Corey Burkley.  I am a student at Omaha Code School.</p>

<p><a href="https://twitter.com/HappyHourHusker">Follow me on Twitter</a></p>	
<p><a href="https://www.linkedin.com/in/coreyburkley">Connect with me on Linkedin</a></p>
