<h1>Corey Burkley's Portfolio</h1>
	
	<p>This is my blog</p>
	
	<p><a href="https://twitter.com/HappyHourHusker">Follow me on Twitter</a></p>	
	<p><a href="https://www.linkedin.com/in/coreyburkley">Connect with me on Linkedin</a></p>
	